@charset "UTF-8";



.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 240px;
    gap: 5px;
    text-align: center;
}

.caixa {
    background-color: rgb(153, 153, 153);
    border: 1px solid black;
}

#topo {
    grid-area: 1 / 1 / -4 / 3;
}

#menu {
    grid-area: 2 / 1 / -3 / -1;
}

#principal {
    
    grid-area: 3 / 1 / -2 / 2;
}

#secundario {
    grid-area: 3 / 2 / -2 / 3;
}

#rodape {
    grid-area: 4 / 1 / -1 / -1;
}