@charset"UTF-8";
    
    body {
        background-color: rgb(23, 17, 17);
        font-family: Arial;
        font-size: 20px;
    }   
    h1 {
        color: rgb(251, 250, 248);
        background-color: brown;
    }
    h2 {
        color: rgb(246, 245, 243);
        background-color: brown;
    }
    p {
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(215, 247, 4);
    }
